body {
    direction: ltr;
    background-color: whitesmoke;
    margin: 0;
}

h4 {
    text-align: left;
    color: black;
    font-family: Calibri;
}

h1 {
    text-align: center;
    font-family: serif;
    font-size: 8vw;
    color: black;
}

h2 {
    text-align: center;
    color: black;
    font-family: serif;
}

table {
    direction: ltr;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
}

td {
    text-align: center;
}

.header {
    width: 100%;
    border: 1px solid silver;
    text-align: center;
}

.nav {
    width: 25%;
    border: 1px solid silver;
    text-align: center;
}

.footer {
    width: 100%;
    height: 50px;
    border: 1px solid whitesmoke;
}

.main {
    width: 25%;
    height: 380px;
    border: 1px solid silver;
}
